docs/HNPX.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="idType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9]{6}"/>
      <xs:length value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="modeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="narration"/>
      <xs:enumeration value="dialogue"/>
      <xs:enumeration value="internal"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="timeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="locationType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="titleType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="charType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="proseType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="summary">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="id" use="prohibited"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="paragraph">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="proseType">
          <xs:attribute name="id" type="idType" use="required"/>
          <xs:attribute name="mode" type="modeType" default="narration"/>
          <xs:attribute name="char" type="charType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="beat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="summary" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="paragraph" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="idType" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="summary" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="beat" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="idType" use="required"/>
      <xs:attribute name="location" type="locationType" use="optional"/>
      <xs:attribute name="time" type="timeType"/>
      <xs:attribute name="pov" type="charType"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="chapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="summary" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="sequence" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="idType" use="required"/>
      <xs:attribute name="title" type="titleType" use="required"/>
      <xs:attribute name="pov" type="charType"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="summary" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="chapter" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="idType" use="required"/>
    </xs:complexType>
    <xs:unique name="uniqueId">
      <xs:selector xpath=".//*"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>
</xs:schema>